<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>duvar</title>
    <link rel="stylesheet" href="static/css/style.css?v=0.1">
</head>

<body>
    <header>
        <div>
            <h1><a href="">duvar</a></h1>
        </div>
    </header>
    <main>
        <section id="posts">
            <h2>duvar yazıları</h2>
            <section>
                {% for entry in entries[::-1] %}
                <article>
                    <p>{{ entry }}</p>
                </article>
                {% endfor %}
            </section>
        </section>
    </main>
    <footer>
        <form method="POST">
            <textarea name="message" rows=2 cols=70></textarea>
            <input type="submit" />
        </form>
    </footer>

</body>

</html>